form {
    width: 300px;
    padding: 1em;
}

label {
    display: inline-block;
    width: 110px;
    text-align: right;
    font-family:Arial, Helvetica, sans-serif;
}

label, input {
    margin-bottom: 1em;
}

#consultar {
    float: right;
    position: relative;
    right: 9px;
}
